{% extends "base.html" %}
{% load i18n %}

{% block content %}


  <div class="container">
    <div class="hero-unit">
    <h1>{% trans "Login" %}</h1>
  <br>
    
    <div class="row">
    <div class="span7 center">
      <form class="well" method="post" action="">
        {% csrf_token %}
        <table>
        
        {% load bootstrap %}
        {{ form|bootstrap }}

        </table>
        <input type="submit" class="btn-large btn-primary" value="{% trans 'Login' %}" />
      </form>
    </div>
  </div>

<div class="row">
 <small><a href="/accounts/register">
 {% trans "Register here" %}</a> with an invitation code. {{account_request_text}}
 Looking for {{ ca_hostname }} 's root certificate information?
<a href="{{ca_url}}" target="_blank">{% trans "Get that here." %}</a>
 </small>

    </div> 

    
{% endblock %}

