{% extends "layouts/1-column.html" %}

{% block middle %}
<h1>Reset your Password</h1>

<form enctype="multipart/form-data" action="/accounts/password-reset-request/" method="POST" class="tw-form">
    {% if error %}
        <p class="error">ERROR: {{error}}</p>
    {% endif %}


    {% if form.errors %}
      <p class="error">Please correct the errors below.</p>
    {% endif %}

    {{ form.as_p }}

    {% csrf_token %}
    <input type="submit" value="Request Password Reset" class="button" />
</form>

{% endblock %}
