{% extends "base.html" %}
{% block content %}

{% load i18n %}


<div class="container">
      <div class="row">
              
              <h1>Anchors for:	{{anchor.common_name}}</h1>
      </div>
</div>


<div class="container">
      <div class="row">
			<table class="table">
				  <thead>
						<tr>
							  <th>Common Name/DNS</th>
							  <th>Category</th>
							  <th>Details</th>
							  <th>Downloads</th>
							  <th>Actions</th>
						</tr>
				  </thead>
			 
				  <tbody>
	  
	  
	  
	  
	  
						
						{% for a in active_cert_list %}
						
						<tr
							{% if a.parent %}
							  class="info"
							{% else %}
								class="success"
							{% endif %}
							</tr>
						<td><a href="/certificates/view-anchor/{{a.serial_number}}">{{a.common_name}}</a></td>
						
						<td>{% if a.parent %}
							  Intermediate
							{% else %}
								Top Anchor
							{% endif %}
							
						</td>
						{% if a.status == "good" %}
						
						<td>  
						
						<strong>SHA1 Fingerprint:</strong><br>
										   {{ a.sha1_fingerprint|slice:":30" }} <br>
										   {{ a.sha1_fingerprint|slice:"30:" }}<br>
						 
						<strong>Parent:</strong> {% if a.parent %}
												   <a href="/certificates/view-anchor/{{a.parent.serial_number}}">
												   {{a.parent.common_name}}
												   </a>
											{% else %}
											Root CA:
												<a href="http://{{ca_common_name}}">
													{{ca_common_name}}
												   </a>
											{% endif %}
						<br>
						
						<strong>Serial Number:</strong>    {{ a.serial_number }} <br>
						<strong>Created:</strong> {{a.creation_date}} <br>
						<strong>Expires:</strong> {{a.expiration_date}}<br>
						<strong>Status:</strong>  <a target="_blank"  href="{{a.public_cert_status_url}}">
						{{a.status}}</a> |
						<a target="_blank"  href="{{a.public_cert_status_sha1_url}}">
						sha1-digest</a>
						
						<br>
						</td>
						
						
						<td>
						   
						  <strong> Public:</strong>
						   <a target="_blank" href="{{a.public_cert_der_url}}">der </a>|
						   <a target="_blank" href="{{a.public_cert_pem_url}}">pem </a>|
						   <a target="_blank" href="{{a.public_cert_x5c_url}}">json</a><br>
						 
						</td>
						
						
						<td>
						  <a class="btn btn-success btn-small btn-block"
							 href="/certificates/create-endpoint/{{a.serial_number}}">
							<i class="icon-plus-sign icon-white"></i> Create an Endpoint Certificate</a>
						  
						   <a class="btn btn-danger btn-small btn-block"
							  href="/certificates/revoke-trust-anchor/{{a.serial_number}}">
							<i class="icon-trash icon-white"></i> 
							Revoke Self & Children</a>
						</td>
						
						   {% else %}
							 <td><em>Verifiction in progress.</em></td>
							 <td><em>Verifiction in progress.</em></td>
							 <td>
							   {% if user.is_staff %}
									 <a class="btn btn-warning btn-small btn-block"
								   href="/certificates/verify-trust-anchor/{{a.serial_number}}">
								<i class="icon-ok-sign icon-white"></i> 
								Self-Verify</a>
							  {% else %}
									<em>Verifiction in progress.</em>
							  {% endif %}
							  
							  
							 </td>
						   
						   
						   {% endif %}
						  
						
						</tr>
						
						
						
						{% endfor %}
						
				  </tbody>
	  
			</table>
  </div>
    
</div>
  
  
  
  
  <div class="container">
      <div class="row">
           <h1>{% trans "Descendant Endpoints" %}</h1>
	  </div>
    
   </div>	
	
	<div class="container">
      <div class="row"> 
	    
		<table class="table">
			<thead>
				  <tr>
				  <th>Email/DNS</th>
				  <th>Bound</th>
				  <th>Details</th>
				  <th>Downloads</th>
				  <th>Actions</th>
				  </tr>
			</thead>
	  <tbody>
  
  
  
  
  
  
	  {% for e in active_endpoints %}
			<tr {% if e.is_domain_bound %}
				class="success"
				{% else %}
				class="info"
				{% endif %}
				>
			
			<td>{{e.common_name}}</td>
			
			<td>{{e.email_or_domain_bound}}</td>
			
			
			
			{% if e.status == "good" %}
			<td>
			  <strong>SHA1 Fingerprint:</strong> <br>
				{{e.sha1_fingerprint|slice:":30"}} <br>
				{{e.sha1_fingerprint|slice:"30:"}}<br>
			
			 <strong>Serial Number:</strong>  {{e.serial_number}}<br>
			 <strong>Parent:</strong>  <a href="/certificates/view-anchor/{{e.trust_anchor.serial_number}}">{{e.trust_anchor.common_name}} / {{e.trust_anchor.serial_number}}</a><br>
			 <strong>Created:</strong>   {{e.creation_date}}<br>
			 <strong>Expires:</strong>  {{de.expiration_date}}<br>
			 <strong>Status:</strong>  <a target="_blank"  href="{{e.public_cert_status_url}}">
		  {{e.status}}</a> |
		  <a target="_blank"  href="{{e.public_cert_status_sha1_url}}">sha1-digest</a>
		   
			<td>
			  
			  
		   <strong>Public:</strong>
				<a  target="_blank" href="{{e.public_cert_der_url}}">der </a>|
				<a  target="_blank" href="{{e.public_cert_pem_url}}">pem </a>|
				<a  target="_blank" href="{{e.public_cert_x5c_url}}">json</a><br>
			<strong>Private:</strong>
				<a target="_blank" href="{{e.private_p12_url}}">p12 </a>| 
				<a target="_blank" href="{{e.private_pem_url}}">pem</a>
			</td>
		   
			<td>
			 
				<a class="btn btn-danger btn-small btn-block"
				   href="/certificates/revoke-endpoint/{{d.serial_number}}">
				  <i class="icon-trash icon-white"></i> 
				  Revoke</a>
		  
			  </td>
			
			 {% else %}
			 <td><em>Verifiction in progress.</em></td>
			 <td><em>Verifiction in progress.</em></td>
			 <td>
				{% if user.is_staff %}
					   <a class="btn btn-warning btn-small btn-block"
				   href="/certificates/verify-endpoint/{{e.serial_number}}">
				  <i class="icon-ok-sign icon-white"></i> 
				  Self-Verify</a>
				{% else %}
					  <em>Verifiction in progress.</em>
				{% endif %}
				
				</td>
			 
			 {% endif %}
			
			</tr>
	  {% endfor %}
  				  </tbody>
			
			</table>
  
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  

  
<div class="container">
            <div class="row">
                    <h1>{% trans "Revoked" %}</h1>
            </div>
    </div>



<div class="container">
            <div class="row">
			<table class="table">
			   
				  <thead>
						<tr>
						<th>Email/DNS</th>
						<th>Status</th>
						<th>SHA1 Fingerprint</th>
						<th>Serial Number</th>
						<th>Created</th>
						<th>Expires</th>
						
						</tr>
				  </thead>
				   
				  <tbody>
					
				  {% for c in revoked_cert_list %}
					 
				  <tr class="error">
				  <td>{{ c.email }}</td>
				  <td><a target="_blank"  href="{{c.public_cert_status_url}}">{{ c.status }}</a> |
				  <a target="_blank"  href="{{c.public_cert_status_sha1_url}}">
				  sha1-digest</a>
				  
				  </td>
				  <td>{{ c.sha1_fingerprint|slice:":30"}} <br>
					  {{c.sha1_fingerprint|slice:"30:"}}</td>
				  <td>{{ c.serial_number }}</td>
				  <td>{{ c.creation_date }}</td>
				  <td>{{ c.expiration_date }}</td>
				  
				  </tr>
				  
				  {% endfor %}
				  
				  </tbody>
			
			</table>
	     </div>
	  </div>


  


{% endblock %}