[ req ]
default_bits            = 4096
default_keyfile         = ./private/signing.videntity.comKey.pem
default_md              = sha1
prompt                  = no
distinguished_name      = root_ca_distinguished_name
x509_extensions         = v3_ca

[ root_ca_distinguished_name ]
countryName             = US
stateOrProvinceName     = West Virginia
localityName            = Morgantown
0.organizationName      = Videntity Systems, Inc.
commonName              = signing.videntity.com
emailAddress            = signing.videntity.com

[ v3_ca ]
subjectKeyIdentifier    = hash
subjectAltName          = @alt_names
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints        = critical, CA:true
keyUsage                = keyCertSign, cRLSign
crlDistributionPoints   = URI:http://ca.videntity.com/videntity-ca-crl.crl



[alt_names]
DNS.1                   = signing.videntity.com

[ ca ]
default_ca              = CA_default

[ CA_default ]
dir                     = .
new_certs_dir           = ./signed-keys/
database                = ./conf/index
certificate             = ./public/signing.videntity.com.pem
serial                  = ./conf/serial
private_key             = ./private/signing.videntity.comKey.pem
x509_extensions         = usr_cert
name_opt                = ca_default
cert_opt                = ca_default
default_crl_days        = 30
default_days            = 365
default_md              = sha1
preserve                = no
policy                  = policy_match

[ policy_match ]
countryName             = match
stateOrProvinceName     = supplied
localityName            = supplied
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = supplied

[ usr_cert ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
keyUsage                = keyCertSign, cRLSign
subjectAltName          = DNS: |DNS|
crlDistributionPoints   = URI:http://ca.videntity.com/videntity-ca-crl.crl



[ crl_ext ]
authorityKeyIdentifier   = keyid:always,issuer:always
